body{
    background:url("coffe.jpg") no-repeat;
}

img{
    width:500;
}

.div_container{
    width: 500;
    margin-left: 20%;
}

p.dosing{
    font-style:oblique;
    font-size:20;
    font-weight:100;
}

p.description{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
